# Node / PNPM
node_modules/
.pnp.*
.npmrc

# Build outputs
.next/
out/
dist/
.turbo/
.cache/

# Env
.env
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
dev_server.log

# Editor
.DS_Store
.idea/
.vscode/
*.swp

